@page "/frage29"
@inject MainService MS
@inject TimeService TS
@using System.ComponentModel.DataAnnotations
@using System.Collections.Generic
@inject NavigationManager Navigation

<h1>Einbürgerungstest - Frage 29</h1>
<br>
    <div class="quiz-container">
    <center><h3 class="question">Was macht ein Schöffe / eine Schöffin in Deutschland? Er / Sie …?</h3</center>
    <form>
        <div class="btn-container">
          <button class="answer-btn" type="button" @onclick="FrageRichtig">Entscheidet mit Richtern / Richterinnen über Schuld und Strafe</button>
         <button class="answer-btn" type="button" @onclick="@(() => FrageFalsch(1))">Gibt Bürgern / Bürgerinnen rechtlichen Rat</button>
        <button class="answer-btn" type="button" @onclick="@(() => FrageFalsch(2))">Stellt Urkunden aus</button>
        <button class="answer-btn" type="button" @onclick="@(() => FrageFalsch(3))">Verteidigt den Angeklagten / die Angeklagte</button>
        </div>
    <br>
<div class="w3-light-grey w3-round">
  <div class="w3-container w3-round w3-blue" style="width:87%">28/33</div>
    </div>
      </form>
    </div>

@code {

private void FrageFalsch(int FrageAuswahl) 
  {
    switch(FrageAuswahl) {
            
        case 1:
    MS.FalscheAntworten.Add("Gibt Bürgern / Bürgerinnen rechtlichen Rat");
    MS.RichtigeAntwortenListe.Add("Entscheidet mit Richtern / Richterinnen über Schuld und Strafe");
    MS.FrageFalsch();
    Navigation.NavigateTo("/frage30");
        break; 

        case 2:
   MS.FrageFalsch();
   MS.FalscheAntworten.Add("Stellt Urkunden aus");
   MS.RichtigeAntwortenListe.Add("Entscheidet mit Richtern / Richterinnen über Schuld und Strafe");
   Navigation.NavigateTo("/frage30");
        break;
            
        case 3: 
   MS.FrageFalsch();
   MS.FalscheAntworten.Add("Verteidigt den Angeklagten / die Angeklagte");
   MS.RichtigeAntwortenListe.Add("Entscheidet mit Richtern / Richterinnen über Schuld und Strafe");
   Navigation.NavigateTo("/frage30");
        break; 
    }
  }

    private void FrageRichtig() {
        MS.FrageRichtig();
        Navigation.NavigateTo("/frage30");
    }
} 