@page "/frage14"
@inject MainService MS
@inject TimeService TS
@using System.ComponentModel.DataAnnotations
@using System.Collections.Generic
@inject NavigationManager Navigation

<h1>Einbürgerungstest - Frage 14</h1>
<br>
    <div class="quiz-container">
      <center><h3 class="question">Eine erwachsene Frau möchte in Deutschland das Abitur nachholen. Das kann sie an…?</h3</center>
      
    <form>
        <div class="btn-container">
          <button class="answer-btn" type="button" @onclick="@(() => Frage14Falsch(1))">Einer Hauptschule</button>
          <button class="answer-btn" type="button" @onclick="@(() => Frage14Falsch(2))">Einer Privatuniversität</button>
          <button class="answer-btn" type="button" @onclick="@(() => Frage14Falsch(3))">Einer Hochschule</button>
          <button class="answer-btn" type="button" @onclick="Frage14Richtig">Einem Abendgymnasium</button>
        </div>
    <br>
<div class="w3-light-grey w3-round">
  <div class="w3-container w3-round w3-blue" style="width:41%">14/33</div>
    </div>
      </form>
    </div>

@code {

private void Frage14Falsch(int Frage14Auswahl) 
  {
    switch(Frage14Auswahl) {
            
        case 1:
    MS.FalscheAntworten.Add("Einer Hauptschule");
    MS.RichtigeAntwortenListe.Add("Einem Abendgymnasium");
    MS.FrageFalsch();
    Navigation.NavigateTo("/frage15");
        break; 

        case 2:
   MS.FrageFalsch();
   MS.FalscheAntworten.Add("Einer Privatuniversität");
   MS.RichtigeAntwortenListe.Add("Einem Abendgymnasium");
   Navigation.NavigateTo("/frage15");
        break;
            
        case 3: 
   MS.FrageFalsch();
   MS.FalscheAntworten.Add("Einer Hochschule");
   MS.RichtigeAntwortenListe.Add("Einem Abendgymnasium");
   Navigation.NavigateTo("frage15");
        break; 
    }
  }

    private void Frage14Richtig() {
        MS.FrageRichtig();
        Navigation.NavigateTo("/frage15");
    }
} 
