@page "/frage24"
@inject MainService MS
@inject TimeService TS
@using System.ComponentModel.DataAnnotations
@using System.Collections.Generic
@inject NavigationManager Navigation

<h1>Einbürgerungstest - Frage 24</h1>
<br>
    <div class="quiz-container">
      <center><h3 class="question"Was gehört in Deutschland nicht zur Exekutive?</h3</center>
      
    <form>
        <div class="btn-container">
          <button class="answer-btn" type="button" @onclick="@(() => FrageFalsch(1))">Das Finanzamt</button>
          <button class="answer-btn" type="button" @onclick="FrageRichtig">Die Gerichte</button>
         <button class="answer-btn" type="button" @onclick="@(() => FrageFalsch(2))">Die Polizei</button>
        <button class="answer-btn" type="button" @onclick="@(() => FrageFalsch(3))">Die Ministerien</button>
        </div>
    <br>
<div class="w3-light-grey w3-round">
  <div class="w3-container w3-round w3-blue" style="width:72%">25'/33</div>
    </div>
      </form>
    </div>

@code {

private void FrageFalsch(int FrageAuswahl) 
  {
    switch(FrageAuswahl) {
            
        case 1:
    MS.FalscheAntworten.Add("Das Finanzamt");
    MS.RichtigeAntwortenListe.Add("Die Gerichte");
    MS.FrageFalsch();
    Navigation.NavigateTo("/frage25");
        break; 

        case 2:
   MS.FrageFalsch();
   MS.FalscheAntworten.Add("Die Polizei");
   MS.RichtigeAntwortenListe.Add("Die Gerichte");
   Navigation.NavigateTo("/frage25");
        break;
            
        case 3: 
   MS.FrageFalsch();
   MS.FalscheAntworten.Add("Die Ministerien");
   MS.RichtigeAntwortenListe.Add("Die Gerichte");
   Navigation.NavigateTo("/frage25");
        break; 
    }
  }

    private void FrageRichtig() {
        MS.FrageRichtig();
        Navigation.NavigateTo("/frage25");
    }
} 